h3{
    margin-left: 1%;
}


body{
    background-image: url("./img/sample-pattern.png");
    
}
footer{
    width:100%;
    height:20%;
    position:absolute;
    left:0;
    background-color: black;
    margin-top: 40%;
    
}

section{
    margin-top:10%;
    position:fixed;
    

}

h5{
    text-align: center;
    color: #483D8B;
    font-weight: bold;
}
h3{
    text-align: center;
    color: #483D8B;
    font-weight: bold;
}
h4{
    color: #483D8B;
    font-weight: bold;
}

header{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    background:#483D8B;
}
ul{
 background: #483D8B;
 color: white;
}





#article-list {
    align-content: 20;
    top:0;
    margin-left: 25%;
    width: 50%;
    padding: 20px 0;
    text-align: left;
}

nav{
    position: absolute;
    width: 40%;
    top: 0;
    margin-left: 80%;
    margin-top: 2%;

}
h1{
    font-family: Georgia, serif;
    color:white;
    font-size: 40vw;
    font-weight: 900;
    text-align: center;


    

}

article{
    top:0;
    background-color: white;
    border-bottom: 1px outset #d6d6c2;
    display: inline-block;
    margin-top: 0.1%;
    width: 100%;
    align-content: center;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15;
    margin-left: 1%;
    
    
}

#juling{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17;
    
    
}

a h3{
  color: #668cff;
  text-decoration: none;

}
a span h3{
   color: #668cff;
   text-decoration: none;

}

a{
    text-decoration: none;
}

#logo{
    margin-top:1%;
    margin-left:3%;
}
.loginform{
    margin-left: 37%;
 
}

#textlogin{
    text-align: center;
    color: #1d3d70;
}

.img-circle {
    border-radius: 50%;
    float: left;
    border:5px groove #483D8B;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
.greendiv {
    margin-left: 5px;
    padding:20px;
    background-color:#4CAF50;
    color:white;
}
.greendiv {
    margin-left:5%;
    padding:20px;
    background-color:#4CAF50;
    width:25%;
    color:white;
}
.bluediv {
    margin-left: 5px;
    padding:20px;
    background-color:#483D8B;
    color:white;
}
